.error {
    color: red;
    text-indent: 40px;
}

.body {
    background-color:#1C8AAB;
}

.welcome {
    background-color: #1C8AAB;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.contacts {
    width: 98%;
}

.notebox { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:30px;
 }

.notetext  {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
	padding:15px 15px 15px;
	margin:20px auto 20px auto;
	min-width:250px;
	min-height:250px;   
	font:15px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	border-radius:3px;
	background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F9EFAF, #F7E98D);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s, transform 0.4s;
	max-width:250px;
	max-height:350px;
  padding-left: 20px;

}
.notetext:nth-child(2n) { 
    transform: rotate(2.5deg);
    background: linear-gradient(rgb(44, 219, 131), rgb(18, 199, 129)); 
}
.notetext:nth-child(3n) { 
    transform: rotate(-2.5deg);
    background: linear-gradient(rgb(247, 131, 131), rgb(245, 102, 102));
}
.notetext:nth-child(5n) { 
    transform: rotate(1.5deg);     
    background: linear-gradient(rgb(185, 172, 255), rgb(195, 199, 255));
}
.notetext:nth-child(4n) { 
    transform: rotate(-1.5deg);     
    background: linear-gradient(rgb(145, 238, 126), rgb(169, 252, 158));
}

.notetext:hover { 
    box-shadow:0 10px 12px rgba(0,0,0,0.30);
    transform: scale(1.2);    
    z-index: 100;

}
.notetext:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

.note-form {
    background: rgb(247, 246, 246);
    padding:25px 25px 40px;
    background-position-x: 0px;
}

.delete-note-button {
   position: absolute;
}

.white {
    background-color: white;
}

.tableBtn {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.btn-success {
    z-index: auto !important;
}

table.table td, table.table {
    padding-top: 0.1rem !important;
    padding-bottom: 0rem !important;
}

tr {
    padding-left: 0.2rem !important;
}

.table thead th {
    vertical-align: middle !important;
    border-bottom: 2px solid #dee2e6;
}
thead th {
  font-size: 0.6em;
  padding: 5px !important;
  height: 15px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
}

.projects {
    transition: width 1s;
    width: 100%;
}

.projects.narrow {
    width: 45%;
}

.tasks {
    width: 0;
    overflow-x: hidden;
}

.tasks.visible {
    flex-grow: 1;
    margin-left: 15px;
}

.table-head {
    height: 30px;
}